<!DOCTYPE html>
<html>
  <head>
    <title>express基础内容</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <% list.forEach(function(article) { %>
        <li><%= article.name %></li>
      <%});%>
    </ul>
  </body>
</html>